/* This file is for the index page specifically */
h1{
    float:left ;
    display:inline ;
}



.lst{ /* this is for all lists, hence class */
    display:inline-grid ;
    margin-right:310px ;
    margin-top:100px ;
}

#bulletLists{ /* This is just for the div for positioning of all lists at once */
    margin-top:50px;
    display:inline-block ;
}

#selfImg{
    position:fixed ;
    height:100px ;
    width:100px ;
    float:right ;
    right:100px ;
}