/* This CSS file will contain stuff needed for the background and the nav bar */

/* tags */

* {
    box-sizing: border-box;
}

body{
    margin:0px ;
    height:100% ;
    background-color:rgb(210, 179, 157);
    display:flex ;
    flex-direction:column ;
    height:100vh ;
}

nav{
    height:25px ;
    background-color:rgba(255,0,0,0.1) ;
}

h1{
    float:left ;
    display:inline ;
    margin-bottom:50px ;
}

img{
    width:300px ;
    height:200px ;
}

h4{
    font-weight: normal;
}

main{
    flex:1 ;
}


/* ids (#) */

#nav-bttn{
    display:inline ;
    padding:5px ;
}

#nav-bar{
    display:none ;
    margin-left:45% ;
    margin-top:300px ;
    position:absolute ;
    z-index:1000 ;
}

#nav-clear {
    position: relative;
    z-index: 500;
    height:100% ;
    padding:10px ;
}


#nav-bar a:hover {
    background-color:rgba(89, 155, 242, 0.711) ;
}

#bulletLists{ /* This is just for the div for positioning of all lists at once */
    margin-top:50px;
    display:inline-block ;
}

#selfImg{
    position:absolute ;
    height:100px ;
    width:100px ;
    float:right ;
    right:100px ;
}



/* classes (.) */

.topOfPage{
    display:inline-flex ;
}

.underlined{ /* this just makes sure everything is underlined if that is the only rule */
    text-decoration:underline ;
}

.lst{ /* this is for all lists, hence class */
    display:inline-grid ;
    margin-right:310px ;
    margin-top:100px ;
}


/* Descendant/Multi-selector */

html, main{
    height:100% ;
}

